div{
    background-color: grey;
    color: hsl(0, 0%, 100%);
    display: block;
    width: 200px;
    height: 100px;
    overflow: auto;
    padding: 10px;
    border: solid 2px blue;
    margin: 15px;
    box-sizing: border-box;
}

#a{
  background-color: red;
}

#b{
  background-color: green;
  padding: 20px 10px 5px 0px;
  float: right;
}

#c{
  float: right;
}